#main-container {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.cv-item {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(125,125,125,.1);
}

.container-mini {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr)) !important;
}

.container-mini .cv-item {
    min-height: 50px !important;
}

.cv-item:hover {
    background-color: var(--bg-hover);
}

.cv-item-img {
    /* overflow-x: hidden; */
    transition: max-width .5s ease-out;
    max-width: 50%;
}

.cv-item-img * {
    border-radius: 7px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-item:hover .cv-item-img {
    max-width: 50%;
}

/* .cv-item-content {
    
} */

.cv-extra-info {
    opacity: .75;
}

.language-flag {
    border-radius: 4px;
    margin-right: 5px;
}

.mini-logo {
    display: none;
    width: 2ex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings-font);
}