:root {
    --highlight-1:#EB4747;
    --highlight-2:#FF8B8B;
    --highlight-3:#FFDEDE;
    --highlight-t:white;
    --link-color: darkorange;
    --link-hover: rgb(255, 60, 0);
    --neutral-1:black;
    --neutral-2:gray;
    --neutral-3:lightgray;
}

body {
    margin-top:20px;
}

.container {
    width: min(800px,100%);
    margin: auto;
}

.theme-red {
    --highlight-1:#EB4747;
    --highlight-2:#FF8B8B;
    --highlight-3:#FFDEDE;
}

.theme-blue {
    --highlight-1:#495C83;
    --highlight-2:#7A86B6;
    --highlight-3:#A8A4CE;
}

.theme-green {
    --highlight-1:#9EB23B;
    --highlight-2:#C7D36F;
    --highlight-3:#FCF9C6;
}

.theme-purple {
    --highlight-1:#937DC2;
    --highlight-2:#C689C6;
    --highlight-3:#E8A0BF;
}

.theme-orange {
    --highlight-1:#DF711B;
    --highlight-2:#FFB740;
    --highlight-3:#FDE49C;
}

.theme-gray {
    --highlight-1:#082032;
    --highlight-2:gray;
    --highlight-3:lightgray;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-hover);
}

.nebula-link {
    color: #314E9C;
}

.nebula-link:hover {
    color: #48319c;
}

.bi {
    margin:0px;
    margin-right: .5em;
}

#subject-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subject-link {
    display:flex;
    text-decoration: none;
    padding: 23px;
    margin: 10px;
    /* border: 3px solid #00000000; */
    border-radius: 5px;
    color: var(--link-color);
    cursor: pointer;
    user-select: none;
    background-color: #18181810;
}

.topic-link {
    border: 3px solid #00000000; /* trick */
}

.topic-link.selected {
    background-color: #ff990020;
    border: 3px solid var(--link-color);
}

.subject-link:hover {
    background-color: #08203220;
}

.topic-link.selected:hover {
    background-color: #ff990030;
    border: 3px dashed var(--link-hover);
}

.passive {
    filter: saturate(0%);
    color:lightgray;
}

.passive:hover {
    color:lightgray;
    cursor:default;
}

h4 {
    display: flex;
    align-items: left;
}

.problem {
    border-top: 1px dashed gray;
}

#diagram-container {
    text-align: center;
}

#change-numbers {
    margin-left: 10px;
}

#diagram {
    border: 2px solid lightgray;
    border-radius: 15px;
}

.source {
    fill: gray;
    stroke: gray;
}

.wire {
    stroke: gray;
}

.resistor {
    stroke: var(--neutral-2);
    fill: var(--neutral-3);
}

.resistor:hover {
    stroke: var(--highlight-1);
    fill: var(--highlight-2);
    cursor: pointer;
}

#r { /* Total resistance */
    fill-opacity: 0.25;
    stroke-dasharray: 3;
}

.resistor-label {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color:gray;
    font-family:Times;
    font-size:16px;
}

.resistor:hover .resistor-label {
    color: white;
}

#r:hover .resistor-label {
    color: var(--highlight-1);
}

.unknown {
    stroke: var(--highlight-1);
    fill: var(--highlight-2);
}

.unknown .resistor-label {
    color: var(--highlight-t);
}

#r.unknown .resistor-label {
    color: var(--highlight-1);
}

#problem-text {
    color:black;
}

#problem-question {
    color: var(--highlight-1);
}

#answer-text {
    color:gray;
}